.main-tables-container {
  display: flex;
  width: 930px;
  margin: 0 auto;
}
.currency-table--container td,
.commissions-table--container td {
  padding-left: 20px;
}
.product-cards--container {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
}
.plans-container--slider,
.main-tables-container {
  justify-content: center;
  overflow-x: initial;
  overscroll-behavior: initial;
  scroll-snap-type: initial;
}
.grey-left-arrow {
  background: initial;
}
.grey-right-arrow {
  background: initial;
}
.left-arrow {
  background: initial;
}
.right-arrow {
  background: initial;
}
.section-autor--footer {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.ljdr--detail span {
  margin: -2px;
}
